<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Admin Page </title>
    <style>

    </style>
</head>
<body>
<div id="header">
    <h1>헤더 입니다.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, facilis.</p>
    <ul class="menu">
        <li>프로필</li>
        <li>게시판</li>
        <li>연락처</li>
    </ul>
</div>
<div id="body">
    <div id="content">
        <h1>welcome to homepage</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur at, distinctio dolores eius esse
            fuga, itaque minima natus ratione reiciendis suscipit ullam ut veritatis voluptate. Accusamus, assumenda
            corporis cumque cupiditate fugiat magni minus, nihil officia, praesentium quo totam unde voluptatum! Ad,
            autem distinctio dolorem doloremque, et id iusto minus, molestiae quis sapiente velit voluptas voluptatibus?
            Aspernatur at consectetur cum doloremque eum explicabo, facere facilis hic illo ipsa libero nesciunt nisi
            sunt tempora voluptas. Ab aliquam consectetur debitis eligendi enim facere, fuga laborum, laudantium magni
            nulla numquam obcaecati officiis placeat porro provident, quos reprehenderit sit temporibus tenetur ut velit
            voluptatem!</p>

        <h2>zero two 에 기대해 본다. </h2>
        <h3>신비주의</h3>

        <div class="box-layout">
            <div class="box-left">left</div>
            <div class="box-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet facere iusto magnam maiores, mollitia
                    nemo quae quas sequi! Commodi deleniti eius explicabo ipsum iusto quas quisquam repudiandae sequi
                    voluptatem voluptatum? Dolorem doloremque illo voluptatibus? Atque debitis dolorem eaque impedit
                    neque porro quod recusandae sit. Accusamus accusantium ad aspernatur assumenda, at commodi
                    consectetur culpa dolor, dolore doloribus eligendi esse expedita fugiat harum iure libero maiores
                    modi molestiae molestias necessitatibus nemo obcaecati pariatur perspiciatis porro quaerat quasi
                    repellendus reprehenderit sequi similique suscipit temporibus ut vel voluptatum. Beatae eum illo
                    maxime minus odio quam quis voluptate! Alias aliquam esse harum magnam vitae voluptatem?</p>
            </div>
        </div>

        <div class="box-layout">
            <div class="box-top">top
                <p>동영상 위치</p>
                <div class="move-layout">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gAg3tdRYU4Q" frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="box-bottom">bottom</div>
        </div>

        <table class="d-table">
            <tr>
                <th>이름</th>
                <td>김용연</td>
            </tr>
            <tr>
                <th>나이</th>
                <td>35</td>
            </tr>
        </table>

        <div class="box-laytout">
            <h1>site 설명</h1>
        </div>
        <div class="box-laytout">
            search table
        </div>
        <div class="box-laytout">
            list table
        </div>

    </div>
</div>
<div id="footer">
    <p>&copy;Copyright Mr. kimyongyeon</p>
</div>

</body>
</html>